@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


:root {
    --text: #060608;
    --background: #f5f4f7;
    --primary: #777591;
    --secondary: #c0b0be;
    --accent: #ac97a5;
}

body {
  margin: 0;
}

a {
  color: inherit;
}
